<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.university.mapper.SelectionBatchClassMapper">

    <insert id="saveSelectionBatchClass" parameterType="com.smart.university.domain.entity.SelectionBatchClassDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO selection_batch_class (batch_id, teaching_class_id)
        VALUES (#{batchId}, #{teachingClassId})
    </insert>

    <delete id="removeSelectionBatchClass" parameterType="com.smart.university.domain.entity.SelectionBatchClassDO">
        DELETE FROM selection_batch_class
        WHERE batch_id = #{batchId}
        AND teaching_class_id = #{teachingClassId}
    </delete>

    <select id="countSelectionBatchClass" parameterType="com.smart.university.domain.entity.SelectionBatchClassDO"
            resultType="long">
        SELECT COUNT(*) FROM selection_batch_class
        WHERE batch_id = #{batchId}
        AND teaching_class_id = #{teachingClassId}
    </select>

    <select id="listTeachingClassIdByBatchId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT teaching_class_id FROM selection_batch_class WHERE batch_id = #{value}
    </select>
</mapper>
