<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.university.mapper.TeachingClassMajorMapper">

    <insert id="saveTeachingClassMajor" parameterType="com.smart.university.domain.entity.TeachingClassMajorDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teaching_class_major (teaching_class_id, major_id)
        VALUES (#{teachingClassId}, #{majorId})
    </insert>

    <delete id="removeTeachingClassMajorByTeachingClassId" parameterType="java.lang.Long">
        DELETE FROM teaching_class_major WHERE teaching_class_id = #{value}
    </delete>

    <select id="listMajorIdByTeachingClassId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT major_id FROM teaching_class_major WHERE teaching_class_id = #{value}
    </select>

    <select id="countTeachingClassMajor" parameterType="com.smart.university.domain.entity.TeachingClassMajorDO"
            resultType="long">
        SELECT COUNT(*) FROM teaching_class_major
        WHERE teaching_class_id = #{teachingClassId}
        AND major_id = #{majorId}
    </select>
</mapper>
